{% extends 'default_page.html' %}
{% block title %}Day 2: Interrupts and Registers{% endblock %}
{% block content %}
<!--explain what we are doing with intigers-->
    <h1>Day 2: Interrupts and Registers</h1>
    <h2>What are Interupts?</h2>
    <p>Imagine that you are a kid helping you dad wiht a project in the garage. He is doing the work but you are bored. You stop him and ask him to get you a juicebox. He sets down his tools, gets you your juicebox, then goes back to work.</p>
    
    <p>Congradulations! That is an interupt.</p>

    <p> In our scenario, your dad was the CPU. He was following instructions and working on a big task. You tapping him on the sholder was INTERUPTING him. He stopped, took care of the time sensitive task, then he picked back up where he left off.</p>

    <p>We will talk about 3 types of interupts today but there are tons more that you can discover on your own. The three that we will talk about today are:</p>

    <ul> 
        <li>int 0x10 (10h) - Bios Video Services</li>
        <li>int 0x13 (13h) - Disk Services</li>
        <li>int 0x16 (16h) - Keyboard services</li>

    </ul>

    <h2>int 0x10 (10h) - Bios Video Services</h3>
<!--Insert an example of using 'int 0x10' and an explanation of what is is-->
        
        <p>
        <a href="https://en.wikipedia.org/wiki/INT_10H">Int 0x10 (BIOS video Services) - Wikipedia </a>
        </p>


    <h2> int 0x13 (13h) - Disk Services </h2>  
<!--Insert an example of using 'int 0x13' and an explanation of what is is-->

    <a href="https://en.wikipedia.org/wiki/INT_13H"> int 0x13 (Disk Services) - Wikipedia </a>
    <p> </p>
    
    
    <h2>int 0x16 (16h) - Keyboard services</h2>
<!--Insert an example of using 'int 0x16' and an explanation of what is is-->

    <a href="https://en.wikipedia.org/wiki/INT_16H"> int 0x16 (Keyboard Services) - Wikipedia</a>
    <p>    </p>
{% endblock %}