{% extends 'default_page.html' %}
{% block title %}Learning{% endblock %}
{% block content %}
    <h1>Learning</h1>
    <h2>Days</h2>
        <ul>
            <li><a href="/learning/days/pre-reqs.html">Prerequisites</a></li>
            <li><a href="/learning/days/day1.html">Day 1: Binary, Storage, and Memory</a></li>
            <li><a href="/learning/days/day2.html">Day 2: Interrupts and Registers</a></li>
            <li><a href="/learning/days/day3.html">Day 3: Debugging and Reverse Engineering</a></li>
        </ul>
{% endblock %}