{% extends 'default_page.html' %}
{% block title %}learning_resources{% endblock %}
{% block content %}
    <h1>External Learning Resources</h1>
        <ul>
            <li><a href="https://www.intel.com/content/www/us/en/developer/articles/technical/intel-sdm.html">Intel® 64 and IA-32 Architectures Software Developer Manuals</a> is the complete documentiation of what makes and INTEL cpu tick.</li>
            <li><a href="https://wiki.osdev.org/Expanded_Main_Page">The OSDev Wiki</a> is a rather substantial library of everything you need to build an OS from the ground up.</li>
        </ul>
{% endblock %}